streamlit==1.35.0
opencv-python==4.11.0.86
mediapipe==0.10.21
tensorflow==2.15.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
tqdm==4.67.1
plotly==6.0.1
seaborn==0.13.2
streamlit-camera-input-live==0.2.0